@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');

html * {font-family: Oswald, Georgia, serif}

.container{ display: flex;
    align-items: center;
    background-color:#004175;
    border-color: #89deef;
    block-size: 80pt; 
    font-size: xx-large;
    color: #ffff;
    align-items:flex-end;
  
    }

.links {color:#ffff;
        font-size: medium;
        align-items: end;
    }

p { font-family: Oswald, Georgia, serif;
    padding: 20px;
    border: 2px;
    margin: 10px 0;

   }

.footercontainer {
        font-size: x-large;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background:
            url(images/donate.jpg) left no-repeat,
            url(images/volunteer.jpg) center no-repeat,
            url(images/location.png) right no-repeat;
            
        height: 25vh;
     
        
}    

.linkcontainer {
        display: flex;
        color: white;
     }    

.dogcard {
    padding: 20px;
    border: 2px;
    border-radius: 5%;
    border-style: solid;
    border-color: gray;
    margin: 10px 0;
    flex: 25% 25% auto;
     
    
}

.traits {
    background-color: skyblue;
    border-radius: 30%;
    font-size: small;
    color: rgb(42, 50, 55);
    padding: 5px;
    /* margin: 5px; */

}

.name {
    border-radius: 5%;

}

.dogimage {
    border-radius: 5%;
    padding: 5px;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.adoptmain {
    display: inline-flex;
    flex-direction: row;
}

main {
    display: flex;
    flex-wrap: wrap;
    
}
