@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');

h1 {display: block; 
    font-family: 
    Oswald, Georgia, serif; 
    color:#ffff; 
    background-color:#004175;
    border-color: #89deef;
    block-size: 80pt; 
    font-size: xx-large;
}

.links {display: inline; 
        text-align: right; 
        font-family: Oswald, Georgia, serif; 
        color:#ffff;
        font-size: medium;
    }

p { font-family: Oswald, Georgia, serif;}

footer {font-family: Oswald, Georgia, serif; 
        color:#ffff;
        font-size: medium;
        display: inline;
    }

.dogcard {
    padding: 20px;
    border: 2px;
    margin: 10px 0;
}
